.ad {
    width: 30em;
    height: 30em;
    background-image: url(/assets/images/naturebackground.png);
    overflow: hidden;
}
.infotext{
    text-align: center;
    color: black;
    font-size: 40px;
}
.plaguebringer{
    display: block;
    margin-left: 10em;
    width: 25%;
    height: 25%;
    position: relative;
    animation-name: plaguebringeranimation;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    overflow: hidden;
    animation-direction: reverse;
}
.plaguebringer2{
    display: block;
    margin-left: 10em;
    width: 25%;
    height: 25%;
    position: relative;
    animation-name: plaguebringeranimation2;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;
    overflow: hidden;
    animation-direction: reverse;
}
.plaguebringer3{
    display: block;
    margin-left: 10em;
    width: 25%;
    height: 25%;
    position: relative;
    animation-name: plaguebringeranimation3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    overflow: hidden;
    animation-direction: reverse;
}


@keyframes plaguebringeranimation{
    0%  { left: 0px; top: 0px;}
    25% { left: 200px; top: 0px;}
    50% { left: 200px; top: 200px;}
    75% { left: 0px; top: 200px;}
    100%{ left: 0px; top: 0px;}
}
@keyframes plaguebringeranimation2{
    0%  { left: 0px; top: 0px;}
    25% { left: 0px; top: 200px;}
    50% { left: 200px; top: 200px;}
    75% { left: 200px; top: 0px;}
    100%{ left: 0px; top: 0px;}
}
@keyframes plaguebringeranimation3{
    0%  { left: 0px; top: 0px;}
    50% { left: -2000px; top: 0px;}
    70%{ left: 2000px; top: 0px;}
    100%{ left: 0px; top: 0px;}
}

@media screen and (max-width: 48em){
    body{
        grid-template-columns: 3fr 1fr;
    }

}
