
* {
    box-sizing: border-box; 
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;

}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.content{
    grid-area: content;
}
.art1 {
    grid-area: art1;
}
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}

.dio-face{
    display: none;
}
.dio-face2{
    margin: 0 auto;
}

main {
    display: grid;
    grid-template-areas: "as2" "art1" "as1";
    grid-template-columns: 1fr;
}

@media screen and (min-width:60em) {
    main {
        display: grid;
        grid-template-areas: "as2 art1 as1";
        grid-template-columns: 1fr 4fr 1fr;
    }
}


