
* {
    box-sizing: border-box; 
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;

}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.content{
    grid-area: content;
}
.art1 {
    grid-area: art1;
}
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
@media screen and (max-width: 25em){
    .dio-face{
        display: none;
    }
    body{
        width: 57em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .dio-face2{
        margin-right: 23em;
        margin-left: 23em;
    }
    nav a{
        display: flex;
        flex-flow: column;
    }
}
@media screen and (max-width: 30em){
    .dio-face{
        display: none;
    }
    body{
        width: 57em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .dio-face2{
        margin-right: 23em;
        margin-left: 23em;
    }
    nav a{
        display: flex;
        flex-flow: column;
    }
}
@media screen and (max-width: 48em){
    .dio-face{
        display: none;
    }
    body{
        width: 57em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .dio-face2{
        margin-right: 23em;
        margin-left: 23em;
    }
    nav a{
        display: flex;
        flex-flow: column;
    }
}
@media screen and (max-width: 60em){
    body{
        width: 64em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .dio-face{
        display: none;
    }
    .dio-face2{
        margin-right: 27em;
        margin-left: 27em;
    }
    .dio-bread{
        width: 64em;
    }
    .dio{
        width: 64em;
    }
}
@media screen and (max-width: 70em){
    .dio-face{
        display: none;
    }
    .dio-face2{
        margin-right: 27em;
        margin-left: 27em;
    }
}
@media screen and (max-width: 80em){
}