
* {
    box-sizing: border-box; 
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;

}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.content{
    grid-area: content;
}
.art1 {
    grid-area: art1;
}
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
.dio-face{
    display: none;
}

main {
    display: grid;
    grid-template-areas: "art1"  "as2"  "as1"; /* einn dálkur */
    grid-template-columns: 1fr;
}

@media screen and (min-width:48em) {

    .dio-face{
        display: block; 
    }
    main {
        display: grid;
        grid-template-areas: 
            "as1 art1"
            "as2 art1";  
        grid-template-columns: 1fr 2fr; /* aside 1 og 2 saman í einum dálki */
    }
}

@media screen and (min-width:60em) {
    body {
        max-width: 60em;
        margin: 0 auto;
    }
    main {
        display: grid;
        grid-template-areas: "as2 art1 as1";
        grid-template-columns: 1fr 4fr 1fr;
    }
}


