
h1 {
    color: orange;
}
h2 {
    color: orange;
}
.current{
    color: red;
}
body {
    background-color: #5f015f;
    color: white;
    margin: 0;
}
div.wrapper{
    background-color: rgba(94, 48, 139, .4)
}
nav {
    text-align: center;
    background-image: linear-gradient(to right,  rgb(94, 48, 139), rgb(81, 8, 95));
    padding-bottom: 0.5em;
    padding-top: 1em;
}
nav a {
    color: plum;
    padding: 0.5em;
    font-size: 30px;
    text-decoration: none;

}
header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr, 3fr, 1fr;
    background-image: linear-gradient(to right,  rgb(94, 48, 139), rgb(81, 8, 95));
}
.art1 {
    padding: 1em;
    background-color: rgb(136, 12, 136);
    max-width: 100%em;
}
.as1 {
    background-color: rgb(122, 12, 122);
    width: 18em;
}
.as2 {
    background-color: rgb(122, 12, 122);
    width: 18em;
}
.mynd-1{
    height: 17.5em;
    width: auto;
    padding-top: 2em;
}
.mynd-2{
    height: 17.5em;
    width: auto;
    padding-top: 2em;
}
main {
    display: grid;
    grid-template-areas: "as2 art1 as1";
    grid-template-columns: 1fr 4fr 1fr;
}
.author_oli{
    width: 30%;
    height: auto;
}
.author_camille{
    width: 40%;
    height: auto;
}
.author_zagara{
    width: 50%;
    height: auto;
}
.author_dio{
    width: 50%;
    height: auto;
}
footer{
    background-color: rgb(83, 1, 83);
    padding: 2em;
    max-width: 100em;
}
div.texti-queen{
    padding: 1em;
    height: 2em;
}
div.texti-drone{
    padding: 1em;
    height: 2em;
    align-content: center;
}
.oli-icon{
    width: 5%;
}
.oli-icon2{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5em;
}
.dio{
    width: 90em;
    padding: 2em;
    
}
.dio-bread{
    width: 90em;
    padding: 2em;
}
.dio-face{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}
.dio-face2{
    width: 10em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
}
div.diofront{
    margin-left: 1em;
    margin-right: auto;
}
.icons{
    width: 2em;
    height: auto;
}
.apple{
    width: 4em;
    height: auto;
}
div.advert{
    padding-left: 1em;
}
.innihald{
    background-color: white;
    width: 15em;
    height: auto;
    overflow: hidden;
}
.h3{
    color: black;
}
.h4{
    color: black;
}

.imgjoseph{
    max-width: 12em;
    height: auto;
    align-self: center;
    right: 15em;
    
}
#advertbackground{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
}
.imgjoseph{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
    animation-name: imgjoseph;
}
@keyframes imgjoseph{
    0%{
        left: -15em;

    }
    50%{
        left: 0em;
    }
    100%{
        left: -15em;
    }
}
.apple{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
    animation-name: apple;
    
}
@keyframes apple{
    0%{
        top: -15px;
    }
    50%{
        top: 0px;
    }
    100%{
        top: -15px;
    }
}
.nice{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
    animation-name: nice;
    
}
@keyframes nice{
    0%{
        right: -15em;
    }
    50%{
        right: 0em;
    }
    100%{
        right: -15em;
    }
}
.nice{
    max-width: 7em;
}
