h1 {
    color: orange;
}
h2 {
    color: orange;
}

body {
    background-color: #5f015f;
    color: white;
}
.wrapper{
    background-color: rgba(94, 48, 139, .4)
}

header {
    text-align: center;
    background-image: linear-gradient(to right,  rgb(94, 48, 139), rgb(81, 8, 95));
}
.art1 {
    padding: 1em;
    background-color: rgb(136, 12, 136);
    max-width: 100%em;
}
.as1 {
    background-color: rgb(122, 12, 122);
    width: 18em;
}
.as2 {
    background-color: rgb(122, 12, 122);
    width: 18em;
}
.mynd-1{
    height: 17.5em;
    width: auto;
    padding-top: 2em;
}
.mynd-2{
    height: 17.5em;
    width: auto;
    padding-top: 2em;
}

.author_oli{
    width: 30%;
    height: auto;
}
.author_camille{
    width: 40%;
    height: auto;
}
.author_zagara{
    width: 50%;
    height: auto;
}
.author_dio{
    width: 50%;
    height: auto;
}
footer{
    background-color: rgb(83, 1, 83);
    padding: 2em;
    max-width: 100em;
}
.texti-queen{
    padding-top: 2em;
    height: 2em;
}
.texti-drone{
    padding: 1em;
    height: 2em;
    align-content: center;
}
.oli-icon{
    width: 2em;
}
.oli-icon2{
    width: 18em;
}
.dio{
    width: 90em;
    padding: 2em;
    
}
.dio-bread{
    width: 90em;
    padding: 2em;
}
.dio-face{
    width: 5em;
}
.dio-funny{
    width: 10em;
}
.diofront{
    display: flex;
    justify-content: space-around;
}
.icons{
    width: 2em;
    height: auto;
}
.apple{
    width: 4em;
    height: auto;
}
div.advert{
    padding-left: 1em;
}
.innihald{
    background-color: white;
    width: 15em;
    height: auto;
    overflow: hidden;
}
.h3{
    color: black;
}
.h4{
    color: black;
}

.imgjoseph{
    max-width: 12em;
    height: auto;
    align-self: center;
    right: 15em;
    
}
#advertbackground{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
}
.imgjoseph{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
    animation-name: imgjoseph;
}

@keyframes imgjoseph{
    0%{
        left: -15em;

    }
    50%{
        left: 0em;
    }
    100%{
        left: -15em;
    }
}
.apple{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
    animation-name: apple;
    
}
@keyframes apple{
    0%{
        top: -15px;
    }
    50%{
        top: 0px;
    }
    100%{
        top: -15px;
    }
}
.nice{
    position: relative;
    animation: intro 15s infinite;
    animation-direction: alternate;
    animation-name: nice;
    
}
@keyframes nice{
    0%{
        right: -15em;
    }
    50%{
        right: 0em;
    }
    100%{
        right: -15em;
    }
}
.nice{
    max-width: 7em;
}
div.formcontain{
    background-color: blue;
    display: flex;
    flex-flow: column;
}
.label{
    padding: 0.5em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: yellow;
    background-color: gray;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
fieldset{
    color: red;
    background-color: rgb(71, 3, 71);
}

