* {
    box-sizing: border-box;
}
h1 {
    color: orange;
}
h2 {
    color: orange;
}
.current{
    color: red;
}
body {
    background-color: #5f015f;
    color: white;
    margin: 0;
}
div.wrapper{
    max-width: 80em;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(94, 48, 139, .4)
}
nav {
    text-align: center;
    background-image: linear-gradient(to right,  rgb(94, 48, 139), rgb(81, 8, 95));
    padding-bottom: 0.5em;
    padding-top: 1em;
}
nav a {
    color: plum;
    padding: 0.5em;
    font-size: 30px;
    text-decoration: none;

}
header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr, 3fr, 1fr;
    background-image: linear-gradient(to right,  rgb(94, 48, 139), rgb(81, 8, 95));
}
.art1 {
    grid-area: art1;
    padding: 1em;
    background-color: rgb(136, 12, 136);
}
.as1 {
    grid-area: as1;
    background-color: rgb(122, 12, 122);
}
.as2 {
    grid-area: as2;
    background-color: rgb(122, 12, 122);
}
.mynd-1{
    height: 18em;
    width: auto
}
.mynd-2{
    height: 15em;
    width: auto
}
main {
    display: grid;
    grid-template-areas: "as2 art1 as1";
    grid-template-columns: 1fr 4fr 1fr;
}
.author_oli{
    width: 30%;
    height: auto;
}
.author_camille{
    width: 40%;
    height: auto;
}
.author_zagara{
    width: 50%;
    height: auto;
}
.author_dio{
    width: 50%;
    height: auto;
}
footer{
    background-color: rgb(83, 1, 83);
    padding: 2em;
}
div.texti-queen{
    padding: 1em;
    height: auto;
}
div.texti-drone{
    padding: 1em;
    height: auto;
}
.oli-icon{
    width: 5%;
}
.oli-icon2{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5em;
}
.dio{
    width: 100%;
    padding: 2em;
    
}
.dio-bread{
    width: 100%;
    padding: 2em;
}
.dio-face{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}
.dio-face2{
    width: 10em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 22em){
    main{
        width: 50em;
    }
    .diofront{
        display: none;
    }
    nav{
        width: 50em;
    }
    header{
        width: 50em;
    }
    footer{
        width: 50em;
    }
}
@media screen and (min-width: 30em){
    main{
        width: 50em;
        grid-template-areas: "as1 art1 as2";
        display: flex;
        flex-direction: column;
    }
    .diofront{
        display: none;
    }
    header{
        width: 50em;
    }
    footer{
        width: 50em;
    }
}

@media screen and (min-width: 37.5em){
    html{
        width: 50em;
    }
    main{
        width: 50em;
        grid-template-areas: "as1 art1 as2";
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 50em;
    }

    nav{
        flex-flow: column;
        text-align: center;
        width: 50em;
    }
    header{
        width: 50em;
    }
    div.wrapper{
        width: 50em;
    }
    .as1 {
        grid-area: as1;
        background-color: rgb(122, 12, 122);
        width: 20em;
    }
    .as2 {
        grid-area: as2;
        background-color: rgb(122, 12, 122);
        width: 20em;
    } 
    .diofront{
        display: none;
    } 
    .as1{
        width: 10em;
    }
    .as2{
        width: 10em;
    }
    .mynd-1{
        width: 10em;
        height: auto;
    }
    .mynd-2{
        width: 10em;
        height: auto;
    }
    div.texti-queen{
        width: 5em;
        height: auto;
    }
}
@media screen and (min-width: 48em){
    .as1{
        width: 10em;
    }
    .as2{
        width: 10em;
    }
    .mynd1{
        width: 10em;
    }
    .mynd2{
        width: 10em;
    }

}

