table {
    border: 1px black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px; color: red ;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }