<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width=device-width, initial scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
  </head>
  <header>
    <collums>
      <col1>
        <p>haegri texti</p>
      </col1>
      <col2>
      <h1>her er headerinn a ollum sidunum</h1>
      </col2>
      <col3>
        <p>vinstri texti</p>
      </col3>
    </collums>
  </header>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
      
  </body>
</html>