<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width=device-width, initial scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
  </head>
  <body>

      {% include navigation.html %}

      <h4>her er formid</h4>
      <div class="formcontain">
        <article class="mainarticle">
          <label>
            Name
            <input type="text"
                    name="name"
                    placeholder="Full name" 
                    required autofocus title="skrifadu nafn">
          </label>
          <label>
            simanumer
            <input type="text"
                    name="simanumer"
                    placeholder="fullt simanumer"
                    required autofocus title="skrifadu simanumer">
          </label>
          <label>
              tolvupostur
              <input type="text"
                      name="tolvupostur"
                      placeholder="tolvupostur"
                      required autofocus title="skrifadu tolvupost">
          </label>
          <label>
              dagsettning
              <input type="text"
                      name="dagsettning"
                      placeholder="dagsettning"
                      required autofocus title="skrifadu dagsettningu">
          </label>
          <label>
              simanumer
              <input type="text"
                      name="simanumer"
                      placeholder="fullt simanumer"
                      required autofocus title="skrifadu simanumer">
          </label>
          <label>
            fjoldi
            <input type="text"
                    name="fjoldi"
                    placeholder="veldu fjolda"
                    required autofocus title="skrifadu fjolda">
          </label>
        </article>
      </div>
    <div class="table">
      <table>
        <tr>
          <th>Meele</th>
          <th>Ranged</th>
          <th>Warframes</th>
        </tr>
        <tr>
          <td>Spear</td>
          <td>Rubico</td>
          <td>Loki</td>
        </tr>
        <tr>
          <td>Sword</td>
          <td>Soma</td>
          <td>Excalibur</td>
        </tr>
        <tr>
          <td>Hammer</td>
          <td>Boltor</td>
          <td>Obreon</td>
        </tr>
        <tr>
          <td>Axe</td>
          <td>Hyma</td>
          <td>Volt</td>
        </tr>
        <tr>
          <td>Knife</td>
          <td>Braton</td>
          <td>Garuda</td>
        </tr>
        <tr>
          <td>dagger</td>
          <td>Kraken</td>
          <td>Nidus</td>
        </tr>
      </table>
    </div>
    <footer>
        {% include footer.html %}
        <img class="oli-icon" src="/assets/images/logo.svg">
    </footer>  
  </body>
</html>