<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width=device-width, initial scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
  </head>
  <body>
      <input type="checkbox" id="toggle" class="menuinput">
      <label for="toggle" class="menuLabel">&#9776;</label>
      <div class="topmenu">
      {% include navigation.html %}
      </div>

      <h4>her er formid</h4>
      <fieldset>
        <legend>Sign in</legend>
        <label><p>Notandanafn:</p>
            <input required="" type="text" name="nafn" placeholder="Nafn her" autofocus="" title="Enter username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$">
            </label>
        <label><p>Password:</p>
            <input id="myPassword" required="" type="password" name="password" placeholder="8 stafir 1 number" title="Enter Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
          </label>
         <label><p>gmail:</p>
            <input required="" type="mail" name="gmail" placeholder="example@gmail.com" title="settu gmail">
        </label>
        <label>Date of birth
            <input type="date" name="date of birth" required="">
         </label>
        <label>Phone Number
            <input type="phonenumber" name="simanumer" pattern="[0-9]{10}">
         </label>
          
        <p>Comment</p>
        <textarea rows="4" name="comments"></textarea>

    </fieldset>
    </div>
  <div class="table">
    <table>
      <tr>
        <th>Meele</th>
        <th>Ranged</th>
        <th>Warframes</th>
      </tr>
      <tr>
        <td>Spear</td>
        <td>Rubico</td>
        <td>Loki</td>
      </tr>
      <tr>
        <td>Sword</td>
        <td>Soma</td>
        <td>Excalibur</td>
      </tr>
      <tr>
        <td>Hammer</td>
        <td>Boltor</td>
        <td>Obreon</td>
      </tr>
      <tr>
        <td>Axe</td>
        <td>Hyma</td>
        <td>Volt</td>
      </tr>
      <tr>
        <td>Knife</td>
        <td>Braton</td>
        <td>Garuda</td>
      </tr>
      <tr>
        <td>dagger</td>
        <td>Kraken</td>
        <td>Nidus</td>
      </tr>
    </table>
  </div>
  <footer>
        {% include footer.html %}
        <img class="oli-icon" src="/assets/images/logo.svg">
    </footer>  
  </body>
</html>