<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content = "width=device-width, initial scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
  </head>
  <body>
      {% include navigation.html %}
      <header>
          <h1>KONO DIO DA!</h1>
          <img class="oli-icon2" src="/assets/images/logo.svg">
      </header>
              {{ content }}
      <div class="container">
            <img class="dio-bread" src="/assets/images/bread.png">
      </div>
    <footer>
        {% include footer.html %}
        <img class="oli-icon" src="/assets/images/logo.svg">
    </footer>  
  </body>
</html>